<?xml version="1.0" encoding="UTF-8" ?>
<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop = "http://www.springframework.org/schema/aop"
       xmlns:cutesource = "http://blog.csdn.net/cutesource/schema/person"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
       http://blog.csdn.net/cutesource/schema/person http://blog.csdn.net/cutesource/schema/person.xsd">

  <!--<bean id="person" class="spring.xmlconfig.bean.Person"></bean>-->
  <cutesource:person id="cutesource" name="袁志俊" age="27"/>
</beans>